.Header 
{
    padding: 10px; /* some padding */
    text-align: center; /* center the text */
    background-image: url(https://wallpapercave.com/wp/wp1904056.jpg);
    background-size:contain;
    font-family: Arial, Helvetica, sans-serif;
    opacity:1.2;
    position: relative;
    color: black; /* white text color */
}

.Header h1 {
  font-size: 60px;
  color:whitesmoke;
  
}




.navbar 
{
    background-color:rgb(215, 255, 255);
    overflow: hidden;
    position: sticky;
    top: 0px;
}
.navbar a {
    float: left; 
    display: block; 
    color: black; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
    background-color: blanchedalmond;
    color: rgb(255, 81, 0);
}

* {
    box-sizing: border-box;
  }

.row
{   
    
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.side 
{   

    flex: 30%; 
    background-image: url(https://i.pinimg.com/originals/80/e1/86/80e1866b3efd98103ee30c14cbbfcbe2.jpg);
    padding: 20px;
}

.main 
{   
    flex: 70%; 
    background-image: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-White-Pattern-Background-Image.jpg);
   
    background-size: cover;
    padding: 20px; 
    
}

.main h3 {
  margin-top: 7%;
}


@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
 
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  .footer {
    padding: 20px;
    text-align: center; 
    background: #ddd; 
  }

  .profile
  {
    width:100%;
    align-items: center;
  }
  .side ul{
    color:white ;
  }
  
  